@import "degisken";

%heading{
                font-family: $second-font;
                letter-spacing: 4px;
                white-space: nowrap;
                
}

%button{
                padding: 10px 20px;
                font-weight: bolder;
                letter-spacing: 2px;
                border: none;
                color: rgb(255, 255, 255);
                border-radius: 10px;
}