@import "degisken";
@import "modul";

@mixin mobile{
  @media(max-width: 800px){
    @content;
  }
  }
@mixin pc{
  @media(min-width: 801px) and (max-width:1300px){
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-color: $bg-color;
 font-family: $main-font;
 overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 15px 30px;
  nav{
  a{
   text-decoration: none;
   white-space: nowrap;
   color:$text-color;
   
   
  }
  }
  #nav-left {
    display: flex;
    align-items: center;
    
    a{
     padding: 0 20px;
     border-right: 1px solid;
     &:hover{
      color: #B3005E;
     }
    }
    img {
      width: 90px;
      mix-blend-mode:difference;
    }
  }
  #nav-right {
    display: flex;
    gap: 15px;
    a{
      &:hover{
        transform: scaleX(1.1);
        color:#B3005E;
        transition: all .4s;
    }
  
}
  }
}
.kapsayıcı{
  display: flex;
  @include mobile{
    flex-direction: column;
  }
  @include pc{
    flex-direction: column;
  }
  justify-content: center;
}
.slogan{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  margin-top: 95px;
  h1{
    @extend %heading;
    text-align: center;
  }
  p{
    font-size: 18px;
    max-width: 550px;
  }
  img{
    max-width: 300px;
    mix-blend-mode:darken;
    @include mobile{
      width: 250px;
    }
  }
  button{
    @extend %button;
    background-color: #1dadb4;
  }
  h2{
    @extend %heading
  }
}
// nav-bar -right
.image{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:45px ;
 #img-main{
  max-width: 750px;
  mix-blend-mode:darken;
  @include mobile{
    width: 600px;
  }
 }
 #img-yol{
 max-width:600px ;
 mix-blend-mode:darken;
}
p{
  max-width: 500px;
}
}