body{
                background-color: rgb(13, 68, 68);
                color: aliceblue;
}
div{
                background-color: aqua;
}
nav{
                background-color: aliceblue;
                color: black;
                ul{
                                li{
                                                text-decoration-style: none;
                                }
                }
}