@import "degisken";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-color: $bg-color;
 font-family: $main-font;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
  padding: 15px 30px;
  nav{
  a{
   text-decoration: none;
   white-space: nowrap;
   color:$text-color;
   &:hover{
                transform: scaleX(1.1);
             color:#B3005E;
             transition: all .4s;
   }
   
  }
  }
  #nav-left {
    display: flex;
    align-items: center;
    
    a{
     padding: 0 20px;
     border-right: 1px solid;
    }
    img {
      width: 90px;
      mix-blend-mode:difference;
    }
  }
  #nav-right {
    display: flex;
    gap: 15px;
  }
}
